:root {
  --main-text-color: rgb(73, 0, 0);
  --card-background-2: rgba(228, 178, 132, 0.63);
  --emphasis-color: rgb(163, 0, 0);
}

body {
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  font-size: larger;

  align-items: center;

  h2 {
    margin-top: 4em;
  }

  div {
    width: 60%;
    margin: 4em;
  }

  a {
    color: var(--emphasis-color);
    padding: 1em;
    border-radius: 1em;
    background-color: var(--card-background-2);
  }
}
